@charset "UTF-8";
*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-text-size-adjust: 100%; }

a {
  font-weight: bold;
  cursor: pointer; }

a:hover {
  text-decoration: none; }

b {
  font-weight: 600; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1;
  background: #e7e7e7; }

.wrapper {
  overflow: hidden; }

.container {
  width: 990px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background: #fff; }

.header {
  margin-bottom: 10px; }

.logo {
  padding: 20px 0 20px 90px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  position: relative; }

.logo:before {
  content: '';
  background: url("../img/logo.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 80px;
  height: 86px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -43px; }

.logo span {
  color: #ff1f32;
  display: block; }

.title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.43;
  padding: 20px 0; }

.main {
  display: table;
  width: 100%; }

.main__cell {
  display: table-cell;
  vertical-align: top; }

.content {
  padding-right: 20px; }

.content__text {
  line-height: 1.3;
  padding-bottom: 20px; }

.content__title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px; }

.citation {
  clear: both; }

.citation__photo {
  float: left;
  padding: 0 10px 20px 0; }

.citation__name {
  padding-bottom: 15px;
  line-height: 1.3; }

.citation__text {
  line-height: 1.3;
  padding: 0 0 20px 110px; }

.content__list {
  padding: 0 0 20px 30px;
  line-height: 1.3; }

.product img {
  margin: 0 auto; }

.button__wrap {
  text-align: center;
  padding: 10px 0; }

.button {
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  padding: 15px 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #f65c44;
  display: inline-block;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  text-decoration: none;
  cursor: pointer; }

.button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.comments {
  padding: 20px 0 0; }

.comments__title {
  font-size: 32px;
  font-weight: bold;
  color: #cc0000;
  padding: 20px 0; }

.comments__item {
  border-top: 1px solid #e8e8e8;
  padding: 15px 0; }

.comments__wrap {
  display: table; }

.comments__cell {
  display: table-cell;
  vertical-align: top; }

.comments__avatar {
  padding-right: 10px; }

.comments__avatar img {
  min-width: 50px; }

.comments__name {
  font-weight: bold;
  padding-bottom: 10px; }

.comments__text {
  line-height: 1.3; }

.side {
  width: 275px;
  background: #e7e7e7;
  padding: 25px 5px 15px;
  font-size: 13px; }

.author {
  padding: 0 10px; }

.author img {
  margin: 0 auto 25px; }

.author__name {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: underline; }

.author__list {
  padding: 10px 0 10px 15px;
  line-height: 1.2; }

.side__text {
  padding: 5px 10px 10px; }

.side__item {
  padding: 5px 10px 10px; }

.side__item:before {
  content: '– '; }
